/* app stuff */
.theme-content {
  background-color: rgb(255,235,215);
}

.theme-focus-border {
  outline: none;
}

.theme-focus-border:focus {
  border: 2px solid rgba(210, 180, 140);
}

.theme-app-menu-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3.5px 3.5px rgba(128, 128, 128, 0.5);
}

.theme-app-menu-item {
  color: rgb(64, 64, 64);
}

.theme-app-menu-button {
  transition: background-color 0.5s;
}

.theme-app-menu-button:hover {
  background-color: rgba(210, 180, 140, 0.5);
}

.theme-app-menu-title {
  color: rgb(64, 64, 64);
  font-weight: 100;
  font-family: "Andale Mono", AndaleMono, monospace;
}


/* calc stuff */
.theme-calc-inputfield {
  color: rgb(64, 64, 64);
  border: none;
  box-shadow: -2.5px 3.5px 2.5px rgba(128, 128, 128, 0.5);
  outline: none;
}

.theme-calc-button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(64, 64, 64);
  transition: background-color 0.5s;
}

.theme-calc-button:hover {
  background-color: rgba(210, 180, 140, 0.5);
}

.theme-calc-sidemenu {
  background-color: rgb(255, 255, 255);
  box-shadow: -2.5px 0px 2.5px rgba(128, 128, 128, 0.5);
}

.theme-history-object {
  background-color: rgb(255, 255, 255);
  box-shadow: -2.5px 3.5px 2.5px rgba(128, 128, 128, 0.5);
  color: rgb(64, 64, 64);
}

.theme-history-object-index {
  color: rgba(64, 64, 64,0.5);
}

.theme-calc-copyable:hover {
  background-color: rgba(210, 180, 140, 0.5);
}

.theme-calc-history-object-field {
  border-left: 1px solid rgb(64, 64, 64);
}

/* settings stuff */
.theme-settings {

}

.theme-settings-button {
  color: rgb(64, 64, 64);
  border: none;
  background-color: rgba(210, 180, 140, 0.25);
  transition: background-color 0.5s;
  box-shadow: -2.5px 3.5px 2.5px rgba(128, 128, 128, 0.5);
}

.theme-settings-button:focus {
  border: 2px solid rgba(210, 180, 140);
}

.theme-settings-button:hover {
  background-color: rgba(210, 180, 140, 0.5);
}

.theme-settings-category {
  color: rgb(64, 64, 64);
  background-color: rgb(255, 255, 255);
  box-shadow: -2.5px 3.5px 2.5px rgba(128, 128, 128, 0.5);
}

.theme-settings-input:focus {
  border: 1px solid rgb(210, 180, 140);
  background-color: rgba(210, 180, 140, 0.5);
}


/* manual stuff */
.theme-help-object {
  background-color: rgb(255, 255, 255);
  box-shadow: -2.5px 2.5px 2.5px rgba(128, 128, 128, 0.5);
  color: rgb(64, 64, 64);
}

.theme-help-search-field {
  background-color: rgb(255, 255, 255);
  box-shadow: -2.5px 2.5px 2.5px rgba(128, 128, 128, 0.5);
  color: rgb(64, 64, 64);
  border: none;
}
